html {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #45badd;
}

.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url('./robot.gif') left center / contain no-repeat;
}